* {
    padding: 0;
    margin: 0;
}

$bg-color: white;
$red: #da291c; 

//remove text area border
.v-text-field > .v-input__control > .v-input__slot:before {
    border-style: none;
}
.header {
    margin-right: 150px;
}

//  Home page CSS

// background image css
.sci-bg {
    background-image: url("assets/images/about-background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
   
}

.sci-bg-0 {
    background-image: url("assets/images/footer.png");
}
.sci-bg-1 {
    background-image: url("assets/images/gallery-background.png");
}
.sci-bg-2 {
    background-image: url("assets/images/news-background.png");
}

//End background image css

.divider {
    background-color: $red;
    width: 60%;
}

// About CSS
.aboutBtn {
    margin-top: 120px;
}
.about {
    margin-top: 100px;
    margin-block-end: 70px;
}
.moreabout {
    color: #d1ccbd;
    float: right;
}
.moreabout:hover {
    color: $red;
}

// Our projects Css
.project {
    .v-sheet.v-card {
        border-radius: 3px;
        border-block-end: $red solid 50px;
    }
}



//Start Top bar Btn Responsive
@media (max-width: 30em) {
    .header {
        visibility: hidden;
    }
}

// Destop
@media (min-width: 1025px) {
    .hidden {
        visibility: hidden;
    }
    .header {
    }
}
/* tablet */
@media (min-width: 481px) and (max-width: 1024px) {
}
