$bg-color: white;
$red: #da291c;
$Ecru-white: #b4b1a8;
$yellow: #f2a900;

* {
    padding: 0;
    margin: 0;
}
// @import url(//db.onlinewebfonts.com/c/ca600d01171a97410ea97578addeb476?family=Gill+Sans+Infant+Std);

.desktop-header {
    margin-left: 400px;
}
.container {
    font-family: "tradegothicltcom-bdcn20";
}
.header {
    font-family: "Trade Gothic LT";
}

//remove text area border
.v-text-field > .v-input__control > .v-input__slot:before {
    border-style: none;
}
.header {
    margin-right: 150px;
}
.search-btn{
    border: 3px solid black;
    border-radius: 15px;
}
//  Home page CSS
// Banner CSS
.banner-slider {
    margin: 100px 200px 0px;
    color: white;
}
.red-divider {
    background-color: $red;
    width: 100%;
    border: 6px solid;
}

// background image css
.sci-bg {
    background-image: url("assets/images/about-background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

.sci-bg-0 {
    background-image: url("assets/images/footer.png");
}
.sci-bg-1 {
    background-image: url("assets/images/gallery-background.png");
}
.sci-bg-2 {
    background-image: url("assets/images/gray_bg.png");
    background-repeat: repeat;
}

.red_bg {
    background-image: url("assets/images/red_bg.png");
    background-repeat: repeat-x;
    background-position: bottom;
}

//End background image css

.divider {
    background-color: $red;
    width: 60%;
}

// Our projects Css
.project {
    .v-sheet.v-card {
        border-radius: 3px;
        border-block-end: $red solid 50px;
    }

}


//our team css
.red_bg{
    .theme--light.v-icon.v-icon.v-icon--disabled {
        color: white !important;
    }
    .v-icon.v-icon {
        font-size: 50px;
        top: 70px;
        color: white;
        border: 1px solid white;
        border-radius: 40px;
    }
    .v-slide-group__next, .v-slide-group__prev {
        margin: 15px;
    }
}

.card-details {
    background-color: $red;
    color: white;
}
//events
.moreabout {
    color: #d1ccbd;
    float: right;
}
.moreabout:hover {
    color: $red;
}


// About us page
.about {
    margin-top: 100px;
    margin-block-end: 70px;
}


//footer

.capitalize {
    text-transform: capitalize;
    // border:  yellow solid 2px;
    // margin: 4px;
}
.footer-divider {
    background-color: $yellow;
    width: 100%;
    border: 6px solid;
}
.footer-driver-1 {
    background-color: $yellow;
    width: 50%;
    border: 1px solid;
}
.footer-driver-2 {
    background-color: $Ecru-white;
    width: 60%;
    border: 1px solid;
}
.vertical {
    border-left: 2px solid $Ecru-white;
    height: 70%;
    margin-top: 50px;
    position: absolute;
    left: 50%;
}

//Start Top bar Btn Responsive
//mobile
@media (max-width: 30em) {
    // .header {
    //     visibility: hidden;
    // }
    .vertical {
        visibility: hidden;
    }
    .banner-slider {
        margin: 100px 10px 0px;
    }
    .search-btn-header {
        width: 70px;
        box-shadow: none;
    }
}
// Destop
@media (min-width: 1025px) {
    .hidden {
        visibility: hidden;
    }
}
/* tablet */
@media (min-width: 481px) and (max-width: 1024px) {
}
